/*.legend {
    padding: 6px 6px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0);
    border-radius: 4px;
}

.legend {
    line-height: 18px;
    color: black;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 6px;
}*/

.arrow_box {
    position: relative;
    background: #fff;
    border: 1px solid #003c88;
}
.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}
.arrow_box:before {
    border-color: rgba(153, 153, 153, 0);
    border-top-color: #003c88;
    border-width: 11px;
    margin-left: -11px;
}

.arrow_box {
  border-radius: 5px;
  padding: 14px;
}

.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}

.ol-popup-closer:after {
	content: "✖";
}